<a href="https://colab.research.google.com/github/morwald/ada_project/blob/master/data_preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Analysis of gender distribution in UK's leading newspapers
# Data preprocessing

## Content
1. [Setup](#setup)   
    1.1 [Global](#global_setup)  
    1.2 [Local](#local_setup)
2. [Data preparation and cleaning](#data_prep)  
    2.1 [Data organisation](#data_org)    
    2.2 [Columns and rows selection](#cols_rows_select)  
    2.3 [News paper selection](#newspaper_select)    
    2.4 [Filtering raw data](#filtering_raw_data)
3. [Additional data set: speaker attributes](#additional_dataset)    
    3.1 [Explore attributes](#explore_attr)  
    3.2 [Merge speaker attributes](#merge_speaker_attr)    
3. [Sanity check](#sanity_check)

## 1. Setup
<a id="setup"></a>

### 1.1 Global
<a id="global_setup"></a>

In [1]:
# Change to true if you want to use google colab
use_colab = True

# Import with EPFL google drive!
if use_colab:
    from google.colab import drive
    drive._mount('/content/drive', force_remount=True)
    %cd /content/drive/Shareddrives/ADA-project
    !pip install pandas==1.0.5 # downgrade pandas for chunk processing support

Mounted at /content/drive
/content/drive/Shareddrives/ADA-project
Requirement already satisfied: pandas==1.0.5 in /usr/local/lib/python3.7/dist-packages (1.0.5)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==1.0.5) (1.15.0)

In [2]:
# Defined paths for the data
from scripts.path_defs import *

# Defined newspapers and urls
from scripts.newspapers import *

# Globally used functions
from scripts.utility_functions import load_mini_version_of_data

### 1.2 Local 
<a id="local_setup"></a>

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json
import bz2

## 2. Data preparation and cleaning
<a id="data_prep"></a>

The quotebank dataset is too large to directly access it with a dataframe. This section provides all the steps to filter the data we need for our analysis. The filtering and preparation is done based on our research questions. Please check the README for details.

The data preperation can be done on a per year basis of the Quotebank data set.

### 2.1 Data organization
<a id="data_paths"></a>

**The paths are defined in _helpers/path_defs.py_.**

When using Google Colab the ```use_colab``` variable has to be set to true. This way the files can be accessed directly from our shared drive. If you want to work locally the raw and filtered data have to be stored locally in the root folder under _Quotebank_ and _Filtered data_. The finally merged and cleaned data will be stored in _Merged data_ in a pickle format. To execute section the [Data preparation and cleaning](#data_prep), the raw data in the folder _Quotebank_ is needed but this section has to be executed only once.

You can download the raw data here: [Quotebank](https://zenodo.org/record/4277311#.YYzk6_oo9hE)

The addtional dataset can be found here: [Speakers](https://drive.google.com/drive/folders/1VAFHacZFh0oxSxilgNByb1nlNsqznUf0)

### 2.2 Column and row selection
<a id="cols_rows_select"></a>

In [ ]:
# A quick look at a small subset of the data of the selected year
year_sample_df = load_mini_version_of_data(RAW_QUOTES_2020_PATH, 10000, 10, use_colab)
year_sample_df.head()

             quoteID  ... phase
0  2020-01-28-000082  ...     E
1  2020-01-16-000088  ...     E
2  2020-02-10-000142  ...     E
3  2020-02-15-000053  ...     E
4  2020-01-24-000168  ...     E

[5 rows x 9 columns]

In [ ]:
# How many quotations don't have an assigned speaker?
sum(year_sample_df['speaker'] == 'None')

34316

The cell above shows that there around 1/3 of the quotations are 'None' speakers. As we want to make a gender based study we will not need these rows. This eliminitation will drasticly reduce the size of the data we have to analyse.

Furthermore the colums which aren't of interest for our study are:\
**phase**: We don't care. \
**probas**: We will select the speaker with highest probablity (note that 'None' speakers are already neglected).

### 2.3 Newspaper selection
<a id="nespaper_select"></a>
We will first pick quotations of **14** newspapers in the UK with the most reach both in prints and digital reach. See [this](https://www.statista.com/statistics/246077/reach-of-selected-national-newspapers-in-the-uk/) statistic for more details. Additionally for circulation regarding printed versions we used this wikipedia [article](https://en.wikipedia.org/wiki/List_of_newspapers_in_the_United_Kingdom_by_circulation). Newspapers and their urls are defined in _scripts/newspapers.py_.

In [ ]:
# List of selected newspapers and their urls for our main analysis on the UK
# Dataframe
newspapers_df = pd.DataFrame(newspapers_uk_list, columns=['name', 'website_url'])
newspapers_df.head(14)

                   name        website_url
0               The Sun       thesun.co.uk
1          The Guardian    theguardian.com
2             The Times     thetimes.co.uk
3                 Metro        metro.co.uk
4      Evening Standard     standard.co.uk
5          Daily Mirror       mirror.co.uk
6   The Daily Telegraph    telegraph.co.uk
7         Daily Express      express.co.uk
8            Daily Star    dailystar.co.uk
9                     i        inews.co.uk
10      Financial Times             ft.com
11           Daily Mail    dailymail.co.uk
12         Daily Record  dailyrecord.co.uk
13            City A.M.         cityam.com

### 2.4 Filtering raw data
<a id="filtering_raw_data"></a>

Following the reasoning above we can extract the infos needed from the compressed file of one year of quotations. Let's create a helper function to check the urls of a quotation:

In [ ]:
def filter_data(path_in, path_out, newspapers_df):
  # Loop through all instances of json file and extract the desired rows
  # Save the file in the filtered data directory
  with bz2.open(path_in, 'rb') as s_file:
      with bz2.open(path_out, 'wb') as d_file:
          for instance in s_file:
              instance = json.loads(instance) # loading a sample
              if instance['speaker'] == 'None': # if the speaker is None we don't keep it and go to next iteration
                  continue
              urls = instance['urls'] # extracting list of links
              newspapers = []
              for url in urls:
                  for name, website_url in zip(newspapers_df['name'],newspapers_df['website_url']): 
                      if website_url in url: # if the url of the current quote contains one of the newspapers' url
                          if name not in newspapers: # to not have any dublicates 
                              newspapers.append(name)
                  instance['newspapers'] = newspapers # updating the sample with domain name
              # We remove unnecessary columns
              instance.pop('probas')
              instance.pop('phase')
              # If there is a newspaper that we want to keep we write the instance to the output file
              if newspapers: 
                d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file

We execute this for 2020 data (execute only once).

In [ ]:
#filter_data(RAW_QUOTES_2020_PATH,FILTERED_QUOTES_UK_2020_PATH)

In [ ]:
# We check that the new file contains the right data
filtered_sample_df = load_mini_version_of_data(FILTERED_QUOTES_2020_PATH, 10000, 10, use_colab)
filtered_sample_df.head()

             quoteID  ...       newspapers
0  2020-01-17-000357  ...  [Daily Express]
1  2020-02-07-005251  ...     [Daily Star]
2  2020-01-11-002445  ...   [Daily Mirror]
3  2020-01-21-005435  ...   [Daily Mirror]
4  2020-01-31-008580  ...   [The Guardian]

[5 rows x 8 columns]

Let's verify that there are no 'None' speakers:

In [ ]:
filtered_sample_df[filtered_sample_df.speaker=='None'].empty

True

Now let us do this filtering for the remaining data of years 2015-2019 (execute only once).

In [ ]:
#filter_data(RAW_QUOTES_2019_PATH,FILTERED_QUOTES_UK_2019_PATH)
#filter_data(RAW_QUOTES_2018_PATH,FILTERED_QUOTES_UK_2018_PATH)
#filter_data(RAW_QUOTES_2017_PATH,FILTERED_QUOTES_UK_2017_PATH)
#filter_data(RAW_QUOTES_2016_PATH,FILTERED_QUOTES_UK_2016_PATH)
#filter_data(RAW_QUOTES_2015_PATH,FILTERED_QUOTES_UK_2015_PATH)

For a deeper analysis we also took interest in quotes from 4 other countries with an important population: US, Autralia, Nigeria that have english as their primary language and India where english is widely spoken especially for education, commerce and government purposes. We found the different information in this wikipedia [article](https://en.wikipedia.org/wiki/List_of_countries_and_territories_where_English_is_an_official_language).

For each country we chose 5 newspapers with the highest criculation throughout each country. For India we also had to select the newspapers in english. We found all the informations in those articles : [US](https://en.wikipedia.org/wiki/List_of_newspapers_in_the_United_States), [AU](https://en.wikipedia.org/wiki/List_of_newspapers_in_Australia_by_circulation), [IN](https://en.wikipedia.org/wiki/List_of_newspapers_in_India_by_circulation), [NG](https://answersafrica.com/top-10-nigerian-newspapers-most-read-online.html)

For the US:

In [ ]:
newspapers_df = pd.DataFrame(newspapers_us_list, columns=['name', 'website_url'])
newspapers_df

                      name   website_url
0                USA Today  usatoday.com
1  The Wall Street Journal       wsj.com
2       The New York Times   nytimes.com
3            New York Post    nypost.com
4        Los Angeles Times   latimes.com

In [ ]:
#filter_data(RAW_QUOTES_2020_PATH,FILTERED_QUOTES_US_2020_PATH)
#filter_data(RAW_QUOTES_2019_PATH,FILTERED_QUOTES_US_2019_PATH)
#filter_data(RAW_QUOTES_2018_PATH,FILTERED_QUOTES_US_2018_PATH)
#filter_data(RAW_QUOTES_2017_PATH,FILTERED_QUOTES_US_2017_PATH)
#filter_data(RAW_QUOTES_2016_PATH,FILTERED_QUOTES_US_2016_PATH)
#filter_data(RAW_QUOTES_2015_PATH,FILTERED_QUOTES_US_2015_PATH)

For Australia:

In [ ]:
newspapers_df = pd.DataFrame(newspapers_au_list, columns=['name', 'website_url'])
newspapers_df

                              name            website_url
0                       Herald Sun       heraldsun.com.au
1                  Daily Telegraph  dailytelegraph.com.au
2  The Australian Financial Review                afr.com
3                 The Courier-Mail     couriermail.com.au
4              The West Australian         thewest.com.au

In [ ]:
#filter_data(RAW_QUOTES_2020_PATH,FILTERED_QUOTES_AU_2020_PATH)
#filter_data(RAW_QUOTES_2019_PATH,FILTERED_QUOTES_AU_2019_PATH)
#filter_data(RAW_QUOTES_2018_PATH,FILTERED_QUOTES_AU_2018_PATH)
#filter_data(RAW_QUOTES_2017_PATH,FILTERED_QUOTES_AU_2017_PATH)
#filter_data(RAW_QUOTES_2016_PATH,FILTERED_QUOTES_AU_2016_PATH)
#filter_data(RAW_QUOTES_2015_PATH,FILTERED_QUOTES_AU_2015_PATH)

For India:

In [ ]:
newspapers_df = pd.DataFrame(newspapers_in_list, columns=['name', 'website_url'])
newspapers_df

                 name                   website_url
0  The Times of India   timesofindia.indiatimes.com
1           The Hindu                  thehindu.com
2     Hindustan Times            hindustantimes.com
3  The Economic Times  economictimes.indiatimes.com
4       The Telegraph            telegraphindia.com

In [ ]:
#filter_data(RAW_QUOTES_2020_PATH,FILTERED_QUOTES_IN_2020_PATH)
#filter_data(RAW_QUOTES_2019_PATH,FILTERED_QUOTES_IN_2019_PATH)
#filter_data(RAW_QUOTES_2018_PATH,FILTERED_QUOTES_IN_2018_PATH)
#filter_data(RAW_QUOTES_2017_PATH,FILTERED_QUOTES_IN_2017_PATH)
#filter_data(RAW_QUOTES_2016_PATH,FILTERED_QUOTES_IN_2016_PATH)
#filter_data(RAW_QUOTES_2015_PATH,FILTERED_QUOTES_IN_2015_PATH)

For Nigeria:

In [ ]:
newspapers_df = pd.DataFrame(newspapers_ng_list, columns=['name', 'website_url'])
newspapers_df

                name            website_url
0           Vanguard        vanguardngr.com
1          The Punch            punchng.com
2  The Nation online  thenationonlineng.net
3   Sahara Reporters    saharareporters.com
4           Sun News      sunnewsonline.com

In [ ]:
#filter_data(RAW_QUOTES_2020_PATH,FILTERED_QUOTES_NG_2020_PATH)
#filter_data(RAW_QUOTES_2019_PATH,FILTERED_QUOTES_NG_2019_PATH)
#filter_data(RAW_QUOTES_2018_PATH,FILTERED_QUOTES_NG_2018_PATH)
#filter_data(RAW_QUOTES_2017_PATH,FILTERED_QUOTES_NG_2017_PATH)
#filter_data(RAW_QUOTES_2016_PATH,FILTERED_QUOTES_NG_2016_PATH)
#filter_data(RAW_QUOTES_2015_PATH,FILTERED_QUOTES_NG_2015_PATH)

## 3. Additional data set: speaker attributes
<a id="additional_dataset"></a>

The filtered Quotebank years are ready. The next step consists of integrating speaker attributes from our additional data set.

### 3.1 Explore attributes
<a id="explore_attr"></a>

We explore the speakers dataset.

In [ ]:
# Load speaker attributes in df
speakers_df = pd.read_parquet(SPEAKER_ATTRIBUTES_PATH)
speakers_df.head()

                                             aliases  ...                    religion
0  [Washington, President Washington, G. Washingt...  ...                   [Q682443]
1  [Douglas Noel Adams, Douglas NoÃ«l Adams, Dougl...  ...                        None
2      [Paul Marie Ghislain Otlet, Paul Marie Otlet]  ...                        None
3  [George Walker Bush, Bush Jr., Dubya, GWB, Bus...  ...  [Q329646, Q682443, Q33203]
4  [VelÃ¡zquez, Diego RodrÃ­guez de Silva y VelÃ¡zqu...  ...                        None

[5 rows x 15 columns]

Let us first check for duplicates. There seem to be none.

In [ ]:
# Duplicates
duplicates = speakers_df[speakers_df.duplicated(subset='id', keep='first')] 
duplicates.head()

Empty DataFrame
Columns: [aliases, date_of_birth, nationality, gender, lastrevid, ethnic_group, US_congress_bio_ID, occupation, party, academic_degree, id, label, candidacy, type, religion]
Index: []

We are mostly interested in the column gender. But let us see which ones we could keep. How many 'None' values do we have?

In [ ]:
# Fraction of lines with 'None' values:
print('gender: ' + str(speakers_df[speakers_df.gender.isnull()].size / speakers_df.size))
print('nationality: ' + str(speakers_df[speakers_df.nationality.isnull()].size / speakers_df.size))
print('occupation: ' + str(speakers_df[speakers_df.occupation.isnull()].size / speakers_df.size))
print('academic_degree: ' + str(speakers_df[speakers_df.academic_degree.isnull()].size / speakers_df.size))
print('ethnic_group: ' + str(speakers_df[speakers_df.ethnic_group.isnull()].size / speakers_df.size))
print('religion ' + str(speakers_df[speakers_df.religion.isnull()].size / speakers_df.size))

gender: 0.21536937853557775
nationality: 0.5896797928352544
occupation: 0.29625691573337004
academic_degree: 0.9889581261268106
ethnic_group: 0.9856023328670853
religion 0.9783254845609769

Unfortunately we have to drop all attributes appart from gender, nationality and occupation. All the other ones have more than 98% 'None' values.

In [ ]:
# Keep the columns gender, nationality and occupation
speakers_df = speakers_df[['id', 'gender', 'nationality', 'occupation']]

We will remove all 'None' genders as this is the most important attribute for our analysis.

In [ ]:
# Remove null genders
speakers_df = speakers_df.drop(speakers_df[speakers_df.gender.isnull()].index)
speakers_df.head()

      id  ...                                         occupation
0    Q23  ...  [Q82955, Q189290, Q131512, Q1734662, Q294126, ...
1    Q42  ...  [Q214917, Q28389, Q6625963, Q4853732, Q1884422...
2  Q1868  ...  [Q36180, Q40348, Q182436, Q1265807, Q205375, Q...
3   Q207  ...  [Q82955, Q15982858, Q18814623, Q1028181, Q1408...
4   Q297  ...                                         [Q1028181]

[5 rows x 4 columns]

### 3.2 Merge speaker attributes
<a id="merge_speaker_attr"></a>

Now we can merge the speaker attributes in our filtered dataset. First of all we need to load the corresponding labels for the quote id's.

In [ ]:
labels_df = pd.read_csv(LABELS_WIKIDATA_PATH, compression='bz2', index_col='QID')
labels_df.head()

                           Label                                   Description
QID
Q31                      Belgium                     country in western Europe
Q45                     Portugal                country in southwestern Europe
Q75                     Internet  global system of connected computer networks
Q148  People's Republic of China                  sovereign state in East Asia
Q155                      Brazil                      country in South America

In [ ]:
# Handle missing labels in our dataset (see post on Zulip).
labels_df.loc['Q6363085'] = labels_df.loc['Q380075']
labels_df.loc['Q3268166'] = labels_df.loc['Q1113899']
labels_df.loc['Q11815360'] = labels_df.loc['Q1919436']
labels_df.loc['Q12014399'] = labels_df.loc['Q250867']
labels_df.loc['Q16287483'] = labels_df.loc['Q6051619']
labels_df.loc['Q20432251'] = labels_df.loc['Q26934816']
labels_df.loc['Q21550646'] = labels_df.loc['Q18431816']
labels_df.loc['Q13365117'] = labels_df.loc['Q12840545']
labels_df.loc['Q13424794'] = labels_df.loc['Q5157338']
labels_df.loc['Q1248362'] = labels_df.loc['Q3455803']
labels_df.loc['Q3186984'] = 'Journalist'
labels_df.loc['Q6859927'] = labels_df.loc['Q715222']
labels_df.loc['Q15145782'] = labels_df.loc['Q1052281']
labels_df.loc['Q15991263'] = labels_df.loc['Q2743689']
labels_df.loc['Q12455619'] = labels_df.loc['Q7019111']
labels_df.loc['Q5568256'] = labels_df.loc['Q1895303']
labels_df.loc['Q11819457'] = labels_df.loc['Q3391743']
labels_df.loc['Q12334852'] = labels_df.loc['Q476246']
labels_df.loc['Q15145783'] = labels_df.loc['Q2449503']

# This qid does not exist anymore in the wikidata. We drop it from the original dataframe.
if 'Q99753484' in labels_df : labels_df.drop(labels='Q99753484')

To efficiently look up the qids attributes of a speaker we create dictionaries to access the desired qids.

In [ ]:
# Create dictionary for the labels and the attributes gender, nationality and occupation
labels_dict = pd.Series(labels_df.Label, index=labels_df.index)
genders_dict = pd.Series(speakers_df.gender.values, index=speakers_df.id).to_dict()
nationalities_dict = pd.Series(speakers_df.nationality.values, index=speakers_df.id).to_dict()
occupations_dict = pd.Series(speakers_df.occupation.values, index=speakers_df.id).to_dict()

We need as well a function to translate the qids of one attribute to  the corresponding label, for one specific speaker.

In [ ]:
def translate_qid2label(id_speaker, attr_dict):
    """
      Retrieve quotes speakers attribute, in the order of the quotations DataFrame.
      :id_speaker   first qid of quids column of one row of the quotations dataframe qid
      :attr_dict    dictionary for specified attributes
      :return       attributes as text in a list
    """
    list_attr = []
    
    if id_speaker in attr_dict:
        id_attr_speaker = attr_dict[id_speaker]
        if(id_attr_speaker is not None):
            for id_a in id_attr_speaker:
                if 'Q99753484' not in id_a:
                    attr = labels_dict[id_a] # Attribute value
                    list_attr.append(attr)
        else:
            list_attr = None

    return list_attr

Now we can put all these together and apply the above function to all our speaker attributes and quotes.

In [ ]:
 def add_speaker_attributes(path_in,path_out):
    """
      Loop through all instances of json file and and add desired column. Save the file
      in the merged data directory
      :path_in      json file path where speaker attributes are added
      :path_out     merged file output directory
      :return       count of total quotes and empty genders
    """
    empty_genders = 0
    total_quotes = 0
    with bz2.open(path_in, 'rb') as s_file:
        with bz2.open(path_out, 'wb') as d_file:
            for instance in s_file:
                instance = json.loads(instance) # loading a sample
                id_speaker = instance['qids'][0] # get single qid
             
                # This qid does not exist anymore so we don't keep this row
                if 'Q99753484' in id_speaker :
                    continue
                total_quotes += 1
                instance['qids'] = id_speaker
                instance['qid'] = instance.pop('qids')
                genders = translate_qid2label(id_speaker, genders_dict)

                if not genders: # if the list is empty
                  empty_genders += 1
                  continue

                instance['gender'] = genders
                instance['nationality'] = translate_qid2label(id_speaker, nationalities_dict)
                instance['occupation'] = translate_qid2label(id_speaker, occupations_dict)
          
                d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file
    
    return total_quotes, empty_genders

We are aware that speaker disambiguation is an issue. We decided to take only the first QID. We think that it is a good option for our case. Our analysis is mainly based on the gender of the speaker. Even if the QID is not the one of the speaker but from someone that shares the same name there is some high chances that the gender of both person is the same. Names are mostly gender-specific.

In [ ]:
###### maybe another reason we discussed######

We execute this for 2020 data (execute only once).

In [ ]:
total_quotes, empty_genders = add_speaker_attributes(FILTERED_QUOTES_UK_2020_PATH,MERGED_QUOTES_UK_2020_PATH)

In [ ]:
print(empty_genders / total_quotes)

0.01046056498305551

In [ ]:
# We check that the new file contains the right data
merged_sample_df = load_mini_version_of_data(MERGED_QUOTES_2020_PATH, 10000, 10, use_colab)
merged_sample_df.head(15)

We do this for all years (only once).

In [ ]:
#total2019, empty2019 = add_speaker_attributes(FILTERED_QUOTES_UK_2019_PATH, MERGED_QUOTES_UK_2019_PATH)
#total2018, empty2018 = add_speaker_attributes(FILTERED_QUOTES_UK_2018_PATH, MERGED_QUOTES_UK_2018_PATH)
#total2017, empty2017 = add_speaker_attributes(FILTERED_QUOTES_UK_2017_PATH, MERGED_QUOTES_UK_2017_PATH)
#total2016, empty2016 = add_speaker_attributes(FILTERED_QUOTES_UK_2016_PATH, MERGED_QUOTES_UK_2016_PATH)
#total2015, empty2015 = add_speaker_attributes(FILTERED_QUOTES_UK_2015_PATH, MERGED_QUOTES_UK_2015_PATH)

Now let's merge the speaker attributes of all other countries

In [ ]:
# For the US
#totalUS2020, emptyUS2020 = add_speaker_attributes(FILTERED_QUOTES_US_2020_PATH, MERGED_QUOTES_US_2020_PATH)
#totalUS2019, emptyUS2019 = add_speaker_attributes(FILTERED_QUOTES_US_2019_PATH, MERGED_QUOTES_US_2019_PATH)
#totalUS2018, emptyUS2018 = add_speaker_attributes(FILTERED_QUOTES_US_2018_PATH, MERGED_QUOTES_US_2018_PATH)
#totalUS2017, emptyUS2017 = add_speaker_attributes(FILTERED_QUOTES_US_2017_PATH, MERGED_QUOTES_US_2017_PATH)
#totalUS2016, emptyUS2016 = add_speaker_attributes(FILTERED_QUOTES_US_2016_PATH, MERGED_QUOTES_US_2016_PATH)
#totalUS2015, emptyUS2015 = add_speaker_attributes(FILTERED_QUOTES_US_2015_PATH, MERGED_QUOTES_US_2015_PATH)

# For Australia
#totalAU2020, emptyAU2020 = add_speaker_attributes(FILTERED_QUOTES_AU_2020_PATH, MERGED_QUOTES_AU_2020_PATH)
#totalAU2019, emptyAU2019 = add_speaker_attributes(FILTERED_QUOTES_AU_2019_PATH, MERGED_QUOTES_AU_2019_PATH)
#totalAU2018, emptyAU2018 = add_speaker_attributes(FILTERED_QUOTES_AU_2018_PATH, MERGED_QUOTES_AU_2018_PATH)
#totalAU2017, emptyAU2017 = add_speaker_attributes(FILTERED_QUOTES_AU_2017_PATH, MERGED_QUOTES_AU_2017_PATH)
#totalAU2016, emptyAU2016 = add_speaker_attributes(FILTERED_QUOTES_AU_2016_PATH, MERGED_QUOTES_AU_2016_PATH)
#totalAU2015, emptyAU2015 = add_speaker_attributes(FILTERED_QUOTES_AU_2015_PATH, MERGED_QUOTES_AU_2015_PATH)

# For India
#totalIN2020,emptyIN2020 = add_speaker_attributes(FILTERED_QUOTES_IN_2020_PATH, MERGED_QUOTES_IN_2020_PATH)
#totalIN2019,emptyIN2019 = add_speaker_attributes(FILTERED_QUOTES_IN_2019_PATH, MERGED_QUOTES_IN_2019_PATH)
#totalIN2018,emptyIN2018 = add_speaker_attributes(FILTERED_QUOTES_IN_2018_PATH, MERGED_QUOTES_IN_2018_PATH)
#totalIN2017,emptyIN2017 = add_speaker_attributes(FILTERED_QUOTES_IN_2017_PATH, MERGED_QUOTES_IN_2017_PATH)
#totalIN2016,emptyIN2016 = add_speaker_attributes(FILTERED_QUOTES_IN_2016_PATH, MERGED_QUOTES_IN_2016_PATH)
#totalIN2015,emptyIN2015 = add_speaker_attributes(FILTERED_QUOTES_IN_2015_PATH, MERGED_QUOTES_IN_2015_PATH)

# For Nigeria
#totalNG2020, emptyNG2020 = add_speaker_attributes(FILTERED_QUOTES_NG_2020_PATH, MERGED_QUOTES_NG_2020_PATH)
#totalNG2019, emptyNG2019 = add_speaker_attributes(FILTERED_QUOTES_NG_2019_PATH, MERGED_QUOTES_NG_2019_PATH)
#totalNG2018, emptyNG2018 = add_speaker_attributes(FILTERED_QUOTES_NG_2018_PATH, MERGED_QUOTES_NG_2018_PATH)
#totalNG2017, emptyNG2017 = add_speaker_attributes(FILTERED_QUOTES_NG_2017_PATH, MERGED_QUOTES_NG_2017_PATH)
#totalNG2016, emptyNG2016 = add_speaker_attributes(FILTERED_QUOTES_NG_2016_PATH, MERGED_QUOTES_NG_2016_PATH)
#totalNG2015, emptyNG2015 = add_speaker_attributes(FILTERED_QUOTES_NG_2015_PATH, MERGED_QUOTES_NG_2015_PATH)

## 4 Sanity check
<a id="sanity_check"></a>
Before proceeding to an exploration of our data, we need to check if there are no anomalies left in the data like missing values. We do this on a per year basis.

In [ ]:
# Load df
df_2020 = pd.read_json(MERGED_QUOTES_2020_PATH, lines=True, compression='bz2')

# Print shape
df_2020.shape

(158261, 11)

In [ ]:
df_2020.head()

             quoteID  ...                                         occupation
0  2020-01-17-000357  ...                                        [cricketer]
1  2020-02-07-005251  ...                             [television presenter]
2  2020-01-11-002445  ...       [journalist, fashion editor, writer, editor]
3  2020-01-21-005435  ...  [actor, pianist, banjoist, composer, guitarist...
4  2020-01-31-008580  ...                                [basketball player]

[5 rows x 11 columns]

In [ ]:
# Full descritpion of the numerical data
df_2020.describe()

       numOccurrences
count   158261.000000
mean        15.921907
std         41.979870
min          1.000000
25%          1.000000
50%          1.000000
75%          5.000000
max       2037.000000

The only numerical data we get is the number of occurences. We only get a meaningful description for this column yet.

In [ ]:
# Verification for missing values
df_2020.isnull().any()

quoteID           False
quotation         False
speaker           False
date              False
numOccurrences    False
urls              False
newspapers        False
qid               False
gender            False
nationality        True
occupation         True
dtype: bool

In [ ]:
# Verification that there are no empty lists remaining
df_2020[df_2020["gender"].str.len() == 0].size

0

We only have missing values for the nationality and occupation. We knew it would be the case. For us the most important was to remove any 'None' speakers. The nationalities and occupations will be later used for a deeper analysis. We will simply have to deal with them.

In [ ]:
# Verification of empty quotes
df_2020[df_2020.quotation == '']

Empty DataFrame
Columns: [quoteID, quotation, speaker, date, numOccurrences, urls, newspapers, qid, gender, nationality, occupation]
Index: []

In [ ]:
# Verification of duplicates
duplicates = df_2020[df_2020.duplicated(subset='quoteID', keep='first')] 
duplicates.head()

Empty DataFrame
Columns: [quoteID, quotation, speaker, date, numOccurrences, urls, newspapers, qid, gender, nationality, occupation]
Index: []

There are no missing quotes nor duplicates. Thus we don't have additional modification to make.

## 5 Normalization of our datasets
<a id="normalization"></a>
In order to normalize our results, we need to investigate UK's gender proportion and create constants according to each datasets' sizes

###5.1 Gender-diverse
<a id="gender-diverse"></a>

To this day, there are very few estimates of the percentage of gender-diverse individuals in different countries. 

According to (cite article), "On balance, the data indicate that people who self-identify as TGNC [transgender and gender nonconforming] represent a sizable proportion of the general population with realistic estimates ranging from **0.1% to 2%**, depending on the inclusion criteria and geographic location." 
https://doi.org/10.1016/j.ecl.2019.01.001

We decided to estimate the proportion of gender-diverse individuals in UK to 2%.

In [49]:
uk_perc_other = 0.02

### 5.2 Cisgender
<a id="cisgender"></a>

The numbers for the cisgender population in the UK are "according to the 2011 Census, women and girls made up 51% of the population of England and Wales, and men and boys made up 49%".
https://www.ethnicity-facts-figures.service.gov.uk/uk-population-by-ethnicity/demographics/male-and-female-populations/latest

As our estimate of 2% of gender-diverse, we will count 50% of male and 48% of female.

In [50]:
uk_perc_male = 0.5
uk_perc_female = 0.48

### 5.3 Normalization of quotations authors genders

In our analysis we want to compare how are different gender represented in UK's most known newspapers. As the gender percentages of gender-diverse - cisgenre are extremely different, we want to compare authors' gender by normalizing it with the percentage of UK's population they represent.

In [52]:
# UK's population average from 2015-2020
uk_pop = round((65.12 + 65.61 + 66.06 + 66.46 + 66.84 + 67.22)*1000000/6)

# UK's gender proportions
uk_prop_others = uk_perc_other*uk_pop
uk_prop_female = uk_perc_female*uk_pop
uk_prop_male = uk_perc_male*uk_pop

In [53]:
# Load year dataframe 
df_2020 = pd.read_json(MERGED_QUOTES_UK_2020_PATH, lines=True, compression='bz2')

In [76]:
def get_normalize_factor(quotes_df, perc_others_country, perc_female_country, perc_male_country):
  # Extract authors
  authors_df = quotes_df[['speaker', 'gender']]

  # Remove authors present more than once
  authors_df = authors_df.drop_duplicates(subset='speaker', keep='first')
  total = len(authors_df)

  # Percentage of authors genders
  perc_male = authors_df.gender.apply(lambda x : 'male' in x).sum() / total
  perc_female = authors_df.gender.apply(lambda x : 'female' in x).sum() / total
  perc_others = 1 - perc_male - perc_female

  # Compute normalization factor
  norm_fact_others = perc_others / perc_others_country
  norm_fact_female = perc_female / perc_female_country
  norm_fact_male = perc_male / perc_male_country
  
  return norm_fact_others, norm_fact_female, norm_fact_male

In [73]:
n_o, n_f, n_m = get_normalize_factor(df_2020, uk_perc_other, uk_perc_female, uk_perc_male)

In [77]:
print(n_o, n_f, n_m)

0.09363694403064782 0.49673689437468965 1.519387103639072