<a href="https://colab.research.google.com/github/morwald/ada_project/blob/main/main.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Female citations in UKs leading news papers

This notebook serves as a first presentation of our project for milestone 2. It is structured and written in such  a way that we can directly continue on it for milestone 3.

## Content
1. [Setup](#setup)   
    1.1 [Imports](#imports)  
    1.2 [Data paths](#data_paths)   
    1.3 [Utility functions](#utility_functions)   
2. [Data preparation](#data_prep)    
    2.1 [Columns and rows selection](#cols_rows_select)  
    2.2 [News paper selection](#newspaper_select)           
    2.3 [Filtering raw data](#filter_raw_data)

3. [Additional data set: speaker attributes](#speaker_attr)    
    3.1 [Explore attributes](#explore_attr)  
    3.2 [Retrieve quotebank wikidata labels](#reatrieve_labels)           
    3.3 [Filtering raw data](#filter_raw_data)   

4. [Data exploration and cleaning](#data_explore_clean)  
    4.1 [Import prepared data](#import_prep_data)   
    4.2 [Set index](#set_index)    
    4.3 [Save cleaned data frame as pickle](#save_pickle)   
5. [Research questions](#research_question)     
    5.1 [Load pickled dataframes](#load_pickle)

## 1. Setup
<a id="setup"></a>

### 1.1 Imports
<a id="imports"></a>

In [7]:
import pandas as pd
import numpy as np
import json
import bz2
import matplotlib.pyplot as plt

from tqdm import tqdm
from collections import Counter

### 1.2 Data paths
<a id="Data paths"></a>

**Important**: The raw and prepared data are stored locally in the root folder _Quotebank_ and _Filtered data_. To execute section [Data preperation](#data_prep) the raw data in the folder _Quotebank_ is needed. This section has to be executed only once. When using Google Colab the ```use_colab``` variable has to be set to true. This way the paths can be access directly from our shared drive.

You can download the raw data here (EPFL google account required): [Quotebank](), [Speakers]() \
The cleaned data can be found using this link:
[Cleaned data]()

In [3]:
# Comment the files which aren't locally stored
# In Colab everything should be available
RAW_QUOTES_2020_PATH = 'Quotebank/quotes-2020.json.bz2' 
QUOTES_2020_PATH = 'Filtered data/quotes-2020-gb.json.bz2' 

#RAW_QUOTES_2019_PATH = 'Quotebank/quotes-2019.json.bz2' 
QUOTES_2019_PATH = 'Filtered data/quotes-2019-gb.json.bz2' 

#RAW_QUOTES_2018_PATH = 'Quotebank/quotes-2018.json.bz2' 
QUOTES_2018_PATH = 'Filtered data/quotes-2018-gb.json.bz2' 

#RAW_QUOTES_2017_PATH = 'Quotebank/quotes-2017.json.bz2' 
QUOTES_2017_PATH = 'data/quotes-2017-gb.json.bz2' 

#RAW_QUOTES_2016_PATH = 'raw_data/quotes-2016.json.bz2' 
QUOTES_2016_PATH = 'data/quotes-2016-gb.json.bz2' 

#RAW_QUOTES_2015_PATH = 'raw_data/quotes-2015.json.bz2' 
QUOTES_2015_PATH = 'data/quotes-2015-gb.json.bz2'

# Additional data set
SPEAKER_ATTRIBUTES_PATH = 'Project datasets/speaker_attributes.parquet'
LABELS_WIKIDATA_PATH = 'Project datasets/wikidata_labels_descriptions_quotebank.csv.bz2'

In [5]:
# Change to True if you want to use google colab
use_colab = True

We mount the drive and go to the right directory.

In [8]:
# Import epfl google drive!
if use_colab:
    from google.colab import drive
    drive.mount('/content/drive', force_remount=True)
    
    %cd /content/drive/Shareddrives/ADA-project

Mounted at /content/drive
/content/drive/Shareddrives/ADA-project

We have to install an older version of pandas in order to be able to use the 'chunksize' feature in colab.

In [5]:
if use_colab:
    !pip install pandas==1.0.5

    # Reimport
    import pandas as pd
    print(pd.__version__)

Collecting pandas==1.0.5
  Downloading pandas-1.0.5-cp37-cp37m-manylinux1_x86_64.whl (10.1 MB)
     |████████████████████████████████| 10.1 MB 5.3 MB/s
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (2018.9)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (1.19.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.7/dist-packages (from pandas==1.0.5) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.6.1->pandas==1.0.5) (1.15.0)
Installing collected packages: pandas
  Attempting uninstall: pandas
    Found existing installation: pandas 1.1.5
    Uninstalling pandas-1.1.5:
      Successfully uninstalled pandas-1.1.5
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
google-colab 1.0.0 requires pandas~=1.1.0; python_version >= "3.0", but you have pandas 1.0.5 which is incompatible.
Successfully installed pandas-1.0.5

1.1.5

## 1.3 Utility functions
<a id="utility_functions"></a>

In [1]:
def load_mini_version_of_data(path_to_file, chunksize, nb_chunks):
    """
    Returns a mini dataframe from of a bz2 compressed json file.
    :path_to_file: file path as string
    :chunksize: size to iterate
    :nb_chunks: how many chunks
    :return: pandas.DataFrame with chunksize*nb_chunks of rows
    """
    
    curr_chunk = 0
    chunk_list = []
    
    if use_colab:
          for chunk in pd.read_json(path_to_file, lines=True, compression='bz2', chunksize=chunksize):
              if curr_chunk == nb_chunks:
                  break
              curr_chunk = curr_chunk + 1
              chunk_list.append(chunk)
    else:
      with pd.read_json(path_to_file, lines=True, compression='bz2', chunksize=chunksize) as df_reader:
          for chunk in df_reader:
              if curr_chunk == nb_chunks:
                  break
          
              curr_chunk = curr_chunk + 1
              chunk_list.append(chunk)
    
    df = pd.concat(chunk_list)
    return df

## 2. Data preparation
<a id="data_prep"></a>

The quotebank dataset is too large to directly access it with a dataframe. This section provides all the steps to filter the data we need for our analysis. The filtering and preperation is done based on our research question. Please check the README for details. Further explanations are given under [Research question](#research_question).

The data preperation can be done on a per year basis of the Quotebank data set.

### 2.1 Column and row selection
<a id="cols_rows_select"></a>

In [9]:
# A quick look at a small subset of the data of the selected year
year_sample_df = load_mini_version_of_data(RAW_QUOTES_2020_PATH, 10000, 10)
year_sample_df.head()

             quoteID  ... phase
0  2020-01-28-000082  ...     E
1  2020-01-16-000088  ...     E
2  2020-02-10-000142  ...     E
3  2020-02-15-000053  ...     E
4  2020-01-24-000168  ...     E

[5 rows x 9 columns]

In [ ]:
# How many quotations don't have an assigned speaker?
sum(year_sample_df['speaker'] == 'None')

34316

The cell above shows that there around 1/3 of the quotations are 'None' speakers. As we want to make a gender based study will will not need these rows. This eliminitation will drasticly reduce the size of the data we have to analyse.

Furthermore the colums which aren't of interest for our study are:\
**phase**: we don't care\
**probas**: as we will select the the speaker with highest probablity (note that 'None' speakers are already neglected)

### 2.2 Newspaper selection
<a id="nespaper_select"></a>
In first analysis we will pick quotations of 3 of the top 12 UKs newspapers with the most reach both in prints and digital reach. See [this]() statistic for further details

In [10]:
# List of selected newspapers and their urls
newspapers_list = [['The Sun', 'thesun.co.uk'], 
                  ['The Guardian', 'theguardian.com'],
                  ['The Times', 'thetimes.co.uk']]

# Dataframe
newspapers_df = pd.DataFrame(newspapers_list, columns = ['name', 'website_url'])
newspapers_df.head()

           name      website_url
0       The Sun     thesun.co.uk
1  The Guardian  theguardian.com
2     The Times   thetimes.co.uk

### 2.3 Filtering raw data
<a id="filter_raw_data"></a>

Following the reasoning above we can extract the infos needed from the compressed file of a year of quotations. Let's create a helper function to check the primary urls of a quotation:

In [11]:
def filter_data(path_in, path_out):
  # Loop through all instances of json file and extract the desired rows
  # Save the file in the data directory
  with bz2.open(path_in, 'rb') as s_file:
      with bz2.open(path_out, 'wb') as d_file:
          for instance in s_file:
              instance = json.loads(instance) # loading a sample
              if instance['speaker'] == 'None':
                  continue
              urls = instance['urls'] # extracting list of links
              newspapers = []
              for url in urls:
                  for name, website_url in zip(newspapers_df['name'],newspapers_df['website_url']):
                      if website_url in url:
                          newspapers.append(name)
                          instance['newspapers'] = newspapers # updating the sample with domain name
              # We remove unnecessary columns
              instance.pop('probas')
              instance.pop('phase')
              # If there is a newspaper that we want to keep we write the instance to the output file
              if newspapers: 
                d_file.write((json.dumps(instance)+'\n').encode('utf-8')) # writing in the new file

In [ ]:
#filter_data(RAW_QUOTES_2020_PATH,QUOTES_2020_PATH)

In [12]:
# We check that the new file contains the right data
filtered_sample_df = load_mini_version_of_data(QUOTES_2020_PATH, 10000, 10)
filtered_sample_df.head()

             quoteID  ...      newspapers
0  2020-01-31-008580  ...  [The Guardian]
1  2020-01-20-006469  ...       [The Sun]
2  2020-04-03-006933  ...     [The Times]
3  2020-04-15-018814  ...       [The Sun]
4  2020-02-16-014286  ...  [The Guardian]

[5 rows x 8 columns]

Let's check that there are no 'None' speakers:

In [ ]:
filtered_sample_df[filtered_sample_df.speaker=='None'].empty

True

#### Replace qids column by only taking its first qid value

In [23]:
#We want to transform the 'qids' column in a single 'qid' element
def get_single_qid(df_quotes):

  df_copy =  df_quotes.copy()
  df_result =  df_quotes.copy()
  for idx,row in df_copy.iterrows():  
    id_speaker = row.loc['qids'][0] 
    df_result.at[idx,'qids'] = id_speaker

  df_result = df_result.rename(columns={"qids": "qid"})
  return df_result

In [24]:
filtered_sample_df = get_single_qid(filtered_sample_df)

Now let us do this filtering for the remaining data of years 2015-2019.

In [ ]:
#filter_data(RAW_QUOTES_2019_PATH,QUOTES_2019_PATH)
#filter_data(RAW_QUOTES_2018_PATH,QUOTES_2018_PATH)
#filter_data(RAW_QUOTES_2017_PATH,QUOTES_2017_PATH)
#filter_data(RAW_QUOTES_2016_PATH,QUOTES_2016_PATH)
#filter_data(RAW_QUOTES_2015_PATH,QUOTES_2015_PATH)

## 3. Additional data set: speaker attributes
<a id="speaker_attr"></a>

The filtered Quotebank years are ready. The next step consists of integrating speaker attributes from our additional data set.

### 3.1 Explore attributes
<a id="explore_attr"></a>

In [13]:
# Load speaker attributes in df
speakers_df = pd.read_parquet(SPEAKER_ATTRIBUTES_PATH)
speakers_df.head()

                                             aliases  ...                    religion
0  [Washington, President Washington, G. Washingt...  ...                   [Q682443]
1  [Douglas Noel Adams, Douglas Noël Adams, Dougl...  ...                        None
2      [Paul Marie Ghislain Otlet, Paul Marie Otlet]  ...                        None
3  [George Walker Bush, Bush Jr., Dubya, GWB, Bus...  ...  [Q329646, Q682443, Q33203]
4  [Velázquez, Diego Rodríguez de Silva y Velázqu...  ...                        None

[5 rows x 15 columns]

We would like to do an analysis based on the gender of the speakers. Thus we are not interested in the quotes without a speaker. We first proceed to remove them.

In [ ]:
# Fraction of lines with null gender : 
speakers_df[speakers_df.gender.isnull()].size / speakers_df.size

0.21536937853557775

In [14]:
# Remove null gender
speakers_df = speakers_df.drop(speakers_df[speakers_df.gender.isnull()].index)

We aren't intersted in a lot of those columns. First of we'll remove all the unneccessary ones for our analysis.

In [ ]:
# Remove unncessary columns
speakers_df = speakers_df.drop(['lastrevid', 'US_congress_bio_ID', 'party', 'candidacy', 'type'], axis=1) 
#TODO Garder ici déjà que id, gender et nationality? Ou faire quand même l'analyse

And there seem to be no duplicates. Perfect.

In [ ]:
# Duplicates
duplicates = speakers_df[speakers_df.duplicated(subset='id', keep='first')] 
duplicates.head()

Empty DataFrame
Columns: [aliases, date_of_birth, nationality, gender, ethnic_group, occupation, academic_degree, id, label, religion]
Index: []

In addition to the gender column, we are also interested in the columns academic_degree and nationality. Let's check how many 'None' values we have and remove them.

In [ ]:
# Fraction of lines with null nationality
speakers_df[speakers_df.nationality.isnull()].size / speakers_df.size

0.48707104255798245

In [ ]:
# Fraction of lines with null academic degree :
speakers_df[speakers_df.academic_degree.isnull()].size / speakers_df.size

0.9866371594235532

In [ ]:
# Fraction of lines with null date of birth
speakers_df[speakers_df.date_of_birth.isnull()].size / speakers_df.size

0.31948139495609096

In [ ]:
# Fraction of lines with null ethnic_group
speakers_df[speakers_df.ethnic_group.isnull()].size / speakers_df.size

0.9819298862868723

In [ ]:
# Fraction of lines with null religion
speakers_df[speakers_df.religion.isnull()].size / speakers_df.size

0.9727195451474893

In [ ]:
# Fraction of lines with null label
speakers_df[speakers_df.label.isnull()].size / speakers_df.size

0.055411365683404636

We will keep only columns for gender and nationality

In [15]:
speakers_df = speakers_df[['id', 'gender', 'nationality']]

In [16]:
speakers_df.head()

      id      gender     nationality
0    Q23  [Q6581097]  [Q161885, Q30]
1    Q42  [Q6581097]          [Q145]
2  Q1868  [Q6581097]           [Q31]
3   Q207  [Q6581097]           [Q30]
4   Q297  [Q6581097]           [Q29]

In [18]:
#Create dict of genders, nationalities
genders_dict = pd.Series(speakers_df.gender.values, index=speakers_df.id).to_dict()
nationalities_dict = pd.Series(speakers_df.nationality.values, index=speakers_df.id).to_dict()

### 3.2 Retrieve quotebank wikidata labels
<a id="reatrieve_labels"></a>

In [19]:
labels = pd.read_csv(LABELS_WIKIDATA_PATH, compression='bz2', index_col='QID')
labels.head()

                           Label                                   Description
QID
Q31                      Belgium                     country in western Europe
Q45                     Portugal                country in southwestern Europe
Q75                     Internet  global system of connected computer networks
Q148  People's Republic of China                  sovereign state in East Asia
Q155                      Brazil                      country in South America

Let's see what the fraction of NaN labels is

In [ ]:
labels.Label.isnull().count()/labels.size

0.5

In [20]:
#Create dict of labels
labels_dict = pd.Series(labels.Label, index=labels.index)

### Create dictionary between id_speaker and the value of attributes gender and nationality

In [30]:
# Retrieve quotes speakers' attribute, in the order of the quotations df
# Input : df_quotes with only first qid in new column qid (instead of qids)
def list_attribute_speaker(id_speaker, attr_dict):
  list_attr = []
  #id_attr_speaker = df_3.loc[df_3.id==id_speaker][attr].to_numpy() #List of all attribute ID per speaker
  if id_speaker in attr_dict:
    id_attr_speaker = attr_dict[id_speaker]
    for id_a in id_attr_speaker:
      if(id_a is not None):
        attr= labels_dict[id_a] #Attribute value
        list_attr.append(attr)
  else :
    list_attr.append(None)
  return (id_speaker, list_attr)

In [31]:
dict_genders = {}
dict_genders = dict(filtered_sample_df['qid'].apply(lambda i: list_attribute_speaker(i, genders_dict)).tolist())
dict_genders

{'Q304349': ['male'],
 'Q20670776': ['male'],
 'Q242329': ['female'],
 'Q5231515': ['male'],
 'Q30693403': ['male'],
 'Q2339': ['male'],
 'Q7816651': ['male'],
 'Q262409': ['male'],
 'Q1395713': ['female'],
 'Q6279': ['male'],
 'Q607': ['male'],
 'Q1173915': ['male'],
 'Q167696': ['female'],
 'Q17388770': ['male'],
 'Q42697548': [None],
 'Q387655': ['male'],
 'Q42840147': ['male'],
 'Q1286476': ['male'],
 'Q5585583': ['male'],
 'Q25369': ['male'],
 'Q1680858': ['male'],
 'Q311672': ['male'],
 'Q5370930': ['male'],
 'Q5239845': ['male'],
 'Q50271550': ['male'],
 'Q15820578': ['male'],
 'Q255060': ['female'],
 'Q16231527': ['male'],
 'Q22686': ['male'],
 'Q6120126': ['female'],
 'Q333937': ['male'],
 'Q174346': ['female'],
 'Q22910723': ['female'],
 'Q483325': ['female'],
 'Q298276': ['male'],
 'Q18707589': ['male'],
 'Q7218913': ['male'],
 'Q21651814': ['male'],
 'Q18610009': ['male'],
 'Q212886': ['male'],
 'Q5622310': ['male'],
 'Q324546': ['male'],
 'Q575689': ['female'],
 'Q493567': ['male'],
 'Q44307090': [None],
 'Q5817295': ['male'],
 'Q369638': ['male'],
 'Q19874882': ['male'],
 'Q3304418': ['female'],
 'Q5605448': ['male'],
 'Q21001': ['male'],
 'Q17306107': ['male'],
 'Q5239823': ['male'],
 'Q10346288': [None],
 'Q1728820': ['male'],
 'Q1909499': ['male'],
 'Q5111202': ['female'],
 'Q550513': ['male'],
 'Q16142769': ['male'],
 'Q19325261': ['male'],
 'Q7812320': ['male'],
 'Q19872694': ['female'],
 'Q25249272': ['male'],
 'Q3453283': ['male'],
 'Q19979409': ['female'],
 'Q1886994': ['male'],
 'Q6120237': ['female'],
 'Q21521410': ['male'],
 'Q152929': ['male'],
 'Q42241718': ['male'],
 'Q534727': ['male'],
 'Q4353877': ['female'],
 'Q3021025': ['male'],
 'Q20055561': ['male'],
 'Q319072': ['male'],
 'Q9545': ['male'],
 'Q4647725': ['male'],
 'Q3905267': ['male'],
 'Q40054': ['male'],
 'Q3828645': ['male'],
 'Q16732034': ['male'],
 'Q1174373': ['male'],
 'Q5980832': ['male'],
 'Q4756381': ['male'],
 'Q530389': ['female'],
 'Q18976': ['male'],
 'Q21198546': ['male'],
 'Q977999': ['female'],
 'Q1541951': ['male'],
 'Q1225': ['male'],
 'Q712765': ['male'],
 'Q1573144': ['male'],
 'Q16197202': ['female'],
 'Q3099714': ['male'],
 'Q27733823': ['female'],
 'Q2158822': ['male'],
 'Q16731201': ['female'],
 'Q13522546': ['female'],
 'Q439365': ['female'],
 'Q552770': ['male'],
 'Q335697': ['male'],
 'Q180589': ['male'],
 'Q1689081': ['male'],
 'Q7613866': ['male'],
 'Q24668273': ['female'],
 'Q8017903': ['male'],
 'Q11571': ['male'],
 'Q28733185': ['female'],
 'Q268584': ['male'],
 'Q21175197': ['male'],
 'Q2718421': ['male'],
 'Q384521': ['female'],
 'Q1100609': ['male'],
 'Q263147': ['male'],
 'Q4886521': ['male'],
 'Q12586103': ['male'],
 'Q1058': ['male'],
 'Q442897': ['female'],
 'Q4960688': ['female'],
 'Q2710509': ['male'],
 'Q3277223': ['male'],
 'Q887766': ['male'],
 'Q5180860': ['male'],
 'Q16233738': ['female'],
 'Q30223601': ['female'],
 'Q481330': ['male'],
 'Q37175': ['male'],
 'Q15850945': ['male'],
 'Q26251620': ['male'],
 'Q317251': ['male'],
 'Q133151': ['male'],
 'Q29446408': ['male'],
 'Q660297': ['male'],
 'Q39259': ['male'],
 'Q7659710': ['male'],
 'Q28659818': ['female'],
 'Q25183273': ['male'],
 'Q193459': ['male'],
 'Q21066909': ['female'],
 'Q19862281': ['male'],
 'Q179414': ['female'],
 'Q478161': ['male'],
 'Q578037': ['female'],
 'Q16113908': ['female'],
 'Q26701430': ['male'],
 'Q10524': ['male'],
 'Q44172566': ['female'],
 'Q4751249': ['male'],
 'Q23769958': ['male'],
 'Q28124344': ['male'],
 'Q17466144': ['male'],
 'Q4716898': ['male'],
 'Q164038': ['male'],
 'Q3528191': ['male'],
 'Q7803719': ['male'],
 'Q18527503': ['male'],
 'Q23762596': ['male'],
 'Q6386114': ['female'],
 'Q5478876': ['female'],
 'Q5106348': ['male'],
 'Q13909': ['female'],
 'Q56443181': ['male'],
 'Q316709': ['male'],
 'Q21457439': ['female'],
 'Q22963284': ['female'],
 'Q27517446': ['female'],
 'Q154952': ['male'],
 'Q5980627': ['male'],
 'Q1395551': ['female'],
 'Q7185804': ['male'],
 'Q6336063': ['male'],
 'Q20647855': ['female'],
 'Q4961012': ['male'],
 'Q5248076': ['female'],
 'Q18637772': ['male'],
 'Q4679786': ['male'],
 'Q459830': ['male'],
 'Q16226534': ['male'],
 'Q59557413': ['female'],
 'Q11674': ['male'],
 'Q5258508': ['male'],
 'Q5239603': ['male'],
 'Q183337': ['male'],
 'Q1900176': ['male'],
 'Q557758': ['male'],
 'Q4810540': ['male'],
 'Q18686251': ['male'],
 'Q2263': ['male'],
 'Q1174756': ['male'],
 'Q4792148': ['female'],
 'Q29643725': ['male'],
 'Q172724': ['male'],
 'Q563620': ['female'],
 'Q333118': ['male'],
 'Q131324': ['female'],
 'Q22279': ['female'],
 'Q17709650': ['male'],
 'Q262284': ['female'],
 'Q18691668': ['female'],
 'Q7172660': ['male'],
 'Q6440772': ['female'],
 'Q18819368': ['female'],
 'Q19560186': ['female'],
 'Q4953985': ['male'],
 'Q21705136': ['female'],
 'Q43390740': ['female'],
 'Q12978': ['male'],
 'Q46382622': ['female'],
 'Q28935053': ['female'],
 'Q34086': ['male'],
 'Q28104864': ['male'],
 'Q6273441': ['male'],
 'Q240485': ['female'],
 'Q7027675': ['male'],
 'Q58806426': [None],
 'Q186478': ['male'],
 'Q3950288': ['female'],
 'Q285249': ['female'],
 'Q201608': ['male'],
 'Q19810': ['female'],
 'Q7490148': ['female'],
 'Q16211766': ['male'],
 'Q1094306': ['male'],
 'Q13563033': ['female'],
 'Q10505': ['male'],
 'Q5108057': ['male'],
 'Q152316': ['male'],
 'Q1271675': ['male'],
 'Q26695': ['male'],
 'Q5044618': ['female'],
 'Q1883': ['male'],
 'Q1918995': ['female'],
 'Q2451952': ['female'],
 'Q573612': ['male'],
 'Q1343112': ['male'],
 'Q58915901': ['female'],
 'Q2964683': ['male'],
 'Q20990679': ['male'],
 'Q1394969': ['female'],
 'Q21034422': ['male'],
 'Q10500212': ['male'],
 'Q21457294': ['male'],
 'Q1159082': ['male'],
 'Q5566385': ['female'],
 'Q22083739': ['male'],
 'Q262461': ['female'],
 'Q17099547': ['male'],
 'Q12989010': ['male'],
 'Q58494547': ['male'],
 'Q25189506': ['male'],
 'Q1928572': ['male'],
 'Q270837': ['female'],
 'Q16186444': ['male'],
 'Q58923905': ['female'],
 'Q19560162': ['female'],
 'Q47411858': ['female'],
 'Q5335605': ['male'],
 'Q18922003': ['male'],
 'Q2618820': ['female'],
 'Q25756209': ['male'],
 'Q58754662': ['male'],
 'Q19870706': ['male'],
 'Q16197112': ['male'],
 'Q24565249': ['male'],
 'Q79983': ['male'],
 'Q1912': ['male'],
 'Q5236402': ['male'],
 'Q1813692': ['male'],
 'Q530220': ['male'],
 'Q44380': ['female'],
 'Q162202': ['female'],
 'Q302486': ['male'],
 'Q22676848': ['male'],
 'Q32522': ['female'],
 'Q19665277': ['male'],
 'Q706988': ['male'],
 'Q28041642': ['male'],
 'Q6167331': ['male'],
 'Q5125214': ['female'],
 'Q20676350': ['male'],
 'Q56222603': ['male'],
 'Q26926633': ['male'],
 'Q10896': ['female'],
 'Q30729096': ['male'],
 'Q10897594': ['male'],
 'Q1337354': ['male'],
 'Q16732059': ['female'],
 'Q20665342': ['female'],
 'Q43393739': ['male'],
 'Q1173911': ['male'],
 'Q529203': ['male'],
 'Q17490263': ['male'],
 'Q4354912': ['male'],
 'Q20725314': ['male'],
 'Q20035636': ['female'],
 'Q24632': ['male'],
 'Q10379941': ['male'],
 'Q7328202': ['male'],
 'Q16728252': ['female'],
 'Q256824': ['female'],
 'Q1189353': ['male'],
 'Q7339221': ['male'],
 'Q35332': ['male'],
 'Q22279399': ['male'],
 'Q473239': ['male'],
 'Q5606602': ['male'],
 'Q14329949': ['male'],
 'Q3814474': ['male'],
 'Q272408': ['female'],
 'Q20974084': ['female'],
 'Q18577928': ['male'],
 'Q4886455': ['male'],
 'Q23657278': ['female'],
 'Q749687': ['male'],
 'Q17285396': ['male'],
 'Q56236115': ['male'],
 'Q7327596': ['male'],
 'Q5229737': ['male'],
 'Q24006380': ['male'],
 'Q43274': ['male'],
 'Q165219': ['male'],
 'Q20713540': ['male'],
 'Q1518861': ['male'],
 'Q3061219': ['male'],
 'Q1543210': ['male'],
 'Q6499556': ['female'],
 'Q15994667': ['male'],
 'Q4077746': ['male'],
 'Q24196926': ['female'],
 'Q733721': ['male'],
 'Q5648877': ['female'],
 'Q7493824': ['female'],
 'Q22002409': ['male'],
 'Q926682': ['male'],
 'Q237204': ['female'],
 'Q170581': ['female'],
 'Q19979355': ['female'],
 'Q3246667': ['male'],
 'Q3713655': ['male'],
 'Q2322261': ['male'],
 'Q294326': ['male'],
 'Q348857': ['male'],
 'Q4355392': ['male'],
 'Q59160146': ['female'],
 'Q10479': ['female'],
 'Q3857378': ['male'],
 'Q19665544': ['male'],
 'Q55861572': [None],
 'Q318471': ['male'],
 'Q16217223': ['male'],
 'Q56884388': ['male'],
 'Q966754': ['male'],
 'Q434585': ['male'],
 'Q219878': ['female'],
 'Q15103715': ['female'],
 'Q5789738': ['male'],
 'Q3332699': ['male'],
 'Q26703582': ['male'],
 'Q624': ['male'],
 'Q295974': ['male'],
 'Q16196017': ['male'],
 'Q7028573': ['male'],
 'Q1444412': ['male'],
 'Q2331659': ['male'],
 'Q23527': ['male'],
 'Q22278851': ['male'],
 'Q20676647': ['female'],
 'Q58755172': ['male'],
 'Q237226': ['female'],
 'Q298838': ['male'],
 'Q16208544': ['female'],
 'Q7518921': ['male'],
 'Q30026790': ['female'],
 'Q11882378': ['male'],
 'Q52159103': ['male'],
 'Q17518854': ['female'],
 'Q2119584': ['male'],
 'Q7032722': ['male'],
 'Q694014': ['male'],
 'Q188792': ['male'],
 'Q41533': ['male'],
 'Q3770348': ['male'],
 'Q17496653': ['male'],
 'Q6767917': ['male'],
 'Q6172996': ['male'],
 'Q4886720': ['male'],
 'Q2377423': ['female'],
 'Q29564107': ['female'],
 'Q183108': ['male'],
 'Q19276745': ['female'],
 'Q16232406': ['female'],
 'Q153330': ['male'],
 'Q4798421': ['male'],
 'Q30379410': ['female'],
 'Q4102296': ['female'],
 'Q29336271': ['male'],
 'Q2844548': ['female'],
 'Q3527096': ['male'],
 'Q47037424': ['male'],
 'Q6438624': ['male'],
 'Q39285184': ['female'],
 'Q7488068': ['male'],
 'Q16220964': ['male'],
 'Q16204680': ['male'],
 'Q27898559': ['male'],
 'Q7173106': ['male'],
 'Q59306386': ['male'],
 'Q4962147': ['male'],
 'Q3476690': ['male'],
 'Q3294164': ['male'],
 'Q1376420': ['male'],
 'Q15873': ['male'],
 'Q7839350': ['male'],
 'Q291169': ['male'],
 'Q7821859': ['male'],
 'Q4724628': ['male'],
 'Q24060240': ['male'],
 'Q52898925': ['male'],
 'Q19788193': ['male'],
 'Q1000592': ['male'],
 'Q750091': ['female'],
 'Q6831027': ['male'],
 'Q168992': ['female'],
 'Q44657': ['male'],
 'Q22007193': ['male'],
 'Q6767411': ['male'],
 'Q6845970': ['male'],
 'Q5110039': ['male'],
 'Q55080956': ['female'],
 'Q21621317': ['male'],
 'Q4731951': ['male'],
 'Q21466514': ['female'],
 'Q520296': ['male'],
 'Q5562914': ['female'],
 'Q3052772': ['male'],
 'Q5044475': ['female'],
 'Q5110287': ['male'],
 'Q4770422': ['female'],
 'Q22236639': ['male'],
 'Q6141914': ['male'],
 'Q56598200': ['male'],
 'Q7153563': ['male'],
 'Q5550020': ['male'],
 'Q458403': ['female'],
 'Q14185693': ['female'],
 'Q1101421': ['male'],
 'Q49833929': ['female'],
 'Q56558120': [None],
 'Q6809919': ['female'],
 'Q6147134': ['male'],
 'Q6288876': ['male'],
 'Q211040': ['non-binary'],
 'Q2513293': ['female'],
 'Q14244952': ['female'],
 'Q20006905': ['male'],
 'Q26209299': ['female'],
 'Q1173237': ['male'],
 'Q20687620': ['male'],
 'Q602828': ['male'],
 'Q1173943': ['male'],
 'Q7182188': ['male'],
 'Q31213302': ['male'],
 'Q55616884': ['female'],
 'Q54806936': ['female'],
 'Q6290749': ['female'],
 'Q19871710': ['male'],
 'Q7027557': ['male'],
 'Q56222065': ['male'],
 'Q10548323': ['male'],
 'Q43918214': ['male'],
 'Q1405662': ['male'],
 'Q6378155': ['male'],
 'Q6453246': ['male'],
 'Q7908495': ['intersex', 'genderqueer'],
 'Q10862202': ['male'],
 'Q4678672': ['male'],
 'Q3529022': ['male'],
 'Q200355': ['female'],
 'Q1190134': ['male'],
 'Q18621047': ['male'],
 'Q37958858': ['male'],
 'Q2014379': ['male'],
 'Q18208259': ['female'],
 'Q16202936': ['male'],
 'Q17489305': ['male'],
 'Q40469334': ['male'],
 'Q2830467': ['male'],
 'Q2514675': ['male'],
 'Q1506471': ['male'],
 'Q16224046': ['female'],
 'Q478596': ['male'],
 'Q31359105': ['female'],
 'Q18045057': ['male'],
 'Q1373294': ['male'],
 'Q523020': ['male'],
 'Q8060280': ['male'],
 'Q6831817': ['male'],
 'Q24313': ['male'],
 'Q2850182': ['female'],
 'Q23848423': ['female'],
 'Q1343639': ['male'],
 'Q180939': ['male'],
 'Q50097363': ['male'],
 'Q16212009': ['male'],
 'Q22212893': ['male'],
 'Q133556': ['male'],
 'Q363608': ['male'],
 'Q17410449': ['male'],
 'Q310352': ['male'],
 'Q6759897': ['female'],
 'Q30907428': ['female'],
 'Q43176170': ['female'],
 'Q1236571': ['male'],
 'Q575733': ['female'],
 'Q6557825': ['female'],
 'Q6988943': ['male'],
 'Q44856761': ['male'],
 'Q446561': ['male'],
 'Q82233': ['female'],
 'Q26876': ['female'],
 'Q185572': ['male'],
 'Q20645847': ['female'],
 'Q434706': ['female'],
 'Q158092': ['male'],
 'Q59361': ['male'],
 'Q42315001': ['male'],
 'Q1077119': ['male'],
 'Q272234': ['male'],
 'Q3606816': ['female'],
 'Q4706181': ['male'],
 'Q27443194': ['male'],
 'Q718533': ['male'],
 'Q314954': ['male'],
 'Q15990205': ['male'],
 'Q12061150': ['male'],
 'Q21716297': ['male'],
 'Q7967127': ['female'],
 'Q16214005': ['male'],
 'Q188459': ['female'],
 'Q4260960': ['male'],
 'Q3259652': ['female'],
 'Q1379894': ['male'],
 'Q20734428': ['male'],
 'Q27909609': ['male'],
 'Q51584412': ['male'],
 'Q16238859': ['male'],
 'Q47494207': ['transgender female'],
 'Q16206194': ['female'],
 'Q3700231': ['female'],
 'Q57040821': [None],
 'Q42601': ['male'],
 'Q220579': ['male'],
 'Q7815030': ['male'],
 'Q32620': ['female'],
 'Q375419': ['male'],
 'Q219402': ['female'],
 'Q9682': ['female'],
 'Q21557064': ['female'],
 'Q11673': ['male'],
 'Q573246': ['male'],
 'Q29267028': ['male'],
 'Q1953630': ['male'],
 'Q331904': ['male'],
 'Q42869048': ['male'],
 'Q342989': ['male'],
 'Q6394699': ['female'],
 'Q7177708': ['male'],
 'Q116516': ['male'],
 'Q16105498': ['male'],
 'Q234144': ['female'],
 'Q1965251': ['female'],
 'Q15056439': ['male'],
 'Q19844382': ['male'],
 'Q390869': ['male'],
 'Q39072651': ['male'],
 'Q317521': ['male'],
 'Q44857': ['male'],
 'Q15994637': ['male'],
 'Q419976': ['male'],
 'Q467749': ['female'],
 'Q33111773': ['male'],
 'Q11752882': ['male'],
 'Q17016903': ['male'],
 'Q4727284': ['male'],
 'Q927550': ['male'],
 'Q600480': ['male'],
 'Q42099156': ['female'],
 'Q16093851': ['male'],
 'Q2699083': ['female'],
 'Q1333118': ['male'],
 'Q269449': ['male'],
 'Q16194405': ['male'],
 'Q264766': ['female'],
 'Q18098175': ['male'],
 'Q983508': ['male'],
 'Q1174175': ['male'],
 'Q7500342': ['female'],
 'Q47015044': ['male'],
 'Q49017': ['male'],
 'Q17045723': ['male'],
 'Q42493': ['female'],
 'Q52495': ['male'],
 'Q5562913': ['female'],
 'Q82496': ['male'],
 'Q1332346': ['male'],
 'Q706113': ['male'],
 'Q6383803': ['male'],
 'Q2067337': ['male'],
 'Q1173798': ['male'],
 'Q83106': ['male'],
 'Q5534311': ['male'],
 'Q28967920': ['female'],
 'Q313674': ['male'],
 'Q6720521': ['male'],
 'Q234161': ['female'],
 'Q456386': ['female'],
 'Q1405258': ['male'],
 'Q6834090': ['male'],
 'Q164730': ['female'],
 'Q7627022': ['male'],
 'Q19348894': ['female'],
 'Q25713929': ['female'],
 'Q21016460': ['male'],
 'Q212064': ['male'],
 'Q6318241': ['male'],
 'Q5107502': ['male'],
 'Q234798': ['female'],
 'Q4909721': ['male'],
 'Q56289688': ['male'],
 'Q24572712': ['male'],
 'Q13639814': ['male'],
 'Q2051773': ['male'],
 'Q17105135': ['male'],
 'Q17278767': ['female'],
 'Q13606850': ['female'],
 'Q2563751': ['male'],
 'Q45414432': ['male'],
 'Q303510': ['male'],
 'Q6181501': ['male'],
 'Q6408545': ['male'],
 'Q3930208': ['male'],
 'Q28404466': ['female'],
 'Q392': ['male'],
 'Q26419': ['male'],
 'Q2756349': ['male'],
 'Q585894': ['male'],
 'Q5593150': ['male'],
 'Q16205956': ['male'],
 'Q28022302': ['female'],
 'Q13131078': ['male'],
 'Q549857': ['female'],
 'Q18358410': ['male'],
 'Q291057': ['female'],
 'Q15994630': ['female'],
 'Q21597856': ['male'],
 'Q16250806': ['female'],
 'Q5605742': ['male'],
 'Q348144': ['male'],
 'Q29988852': ['male'],
 'Q324726': ['male'],
 'Q86294': ['male'],
 'Q57447042': [None],
 'Q30449579': ['male'],
 'Q14950382': ['male'],
 'Q432473': ['female'],
 'Q769600': ['male'],
 'Q6765740': ['female'],
 'Q438820': ['female'],
 'Q11975': ['female'],
 'Q57436694': ['female'],
 'Q20707944': ['female'],
 'Q36812': ['male'],
 'Q18637204': ['male'],
 'Q3013247': ['male'],
 'Q391300': ['male'],
 'Q6968142': ['female'],
 'Q6847052': ['male'],
 'Q318108': ['male'],
 'Q16736692': ['male'],
 'Q266613': ['male'],
 'Q57848966': [None],
 'Q16735078': ['male'],
 'Q28555557': ['male'],
 'Q115052': ['male'],
 'Q29941210': ['female'],
 'Q41275546': [None],
 'Q58315159': ['male'],
 'Q310048': ['male'],
 'Q10853588': ['female'],
 'Q6688666': ['female'],
 'Q6401812': ['male'],
 'Q6374978': ['female'],
 'Q2778084': ['male'],
 'Q750421': ['female'],
 'Q1443227': ['male'],
 'Q1346101': ['male'],
 'Q6513144': ['male'],
 'Q7614823': ['male'],
 'Q15720537': ['female'],
 'Q16027591': ['male'],
 'Q17388335': ['female'],
 'Q11100': ['male'],
 'Q1174477': ['male'],
 'Q652066': ['male'],
 'Q336278': ['male'],
 'Q26928551': ['male'],
 'Q5325563': ['male'],
 'Q695092': ['male'],
 'Q17020440': ['male'],
 'Q7609284': ['male'],
 'Q21457259': ['male'],
 'Q1376984': ['male'],
 'Q26879936': ['female'],
 'Q433797': ['male'],
 'Q30152437': ['female'],
 'Q180942': ['male'],
 'Q5129278': ['female'],
 'Q46092831': ['female'],
 'Q332360': ['male'],
 'Q33482154': ['male'],
 'Q28911768': ['male'],
 'Q52063231': ['female'],
 'Q7815122': ['male'],
 'Q31815796': ['female'],
 'Q16209157': ['male'],
 'Q14536': ['male'],
 'Q1773628': ['male'],
 'Q1358103': ['male'],
 'Q16208556': ['female'],
 'Q17403494': ['female'],
 'Q4727087': ['female'],
 'Q359442': ['male'],
 'Q20793563': [None],
 'Q227129': ['female'],
 'Q5271614': ['female'],
 'Q1388430': ['male'],
 'Q7372372': ['female'],
 'Q6057339': ['male'],
 'Q2105': ['male'],
 'Q258586': ['female'],
 'Q55188045': ['male'],
 'Q17517177': ['male'],
 'Q392375': ['male'],
 'Q27107390': ['female'],
 'Q1138235': ['female'],
 'Q4749235': ['female'],
 'Q483417': ['male'],
 'Q16189358': ['female'],
 'Q712802': ['male'],
 'Q19478045': ['female'],
 'Q55314755': ['male'],
 'Q7703637': ['female'],
 'Q3182794': ['male'],
 'Q5237901': ['male'],
 'Q232414': ['female'],
 'Q531599': ['male'],
 'Q44621036': ['female'],
 'Q15040070': ['male'],
 'Q333533': ['male'],
 'Q47576': ['male'],
 'Q7302009': ['female'],
 'Q230990': ['female'],
 'Q1655619': ['male'],
 'Q15126900': ['male'],
 'Q58323071': ['male'],
 'Q57321412': ['male'],
 'Q467633': ['female'],
 'Q1051540': ['male'],
 'Q19518037': ['male'],
 'Q2849107': ['male'],
 'Q366266': ['male'],
 'Q7917285': ['male'],
 'Q296416': ['male'],
 'Q16204224': ['male'],
 'Q2783855': ['female'],
 'Q15968658': ['male'],
 'Q11815393': ['male'],
 'Q19594790': ['male'],
 'Q2014922': ['male'],
 'Q29006828': ['male'],
 'Q76': ['male'],
 'Q21914464': ['female'],
 'Q4757503': ['male'],
 'Q6134141': ['female'],
 'Q24572131': ['female'],
 'Q3421714': ['female'],
 'Q36159': ['male'],
 'Q15624487': ['female'],
 'Q16224564': ['male'],
 'Q7173778': ['male'],
 'Q72245': ['male'],
 'Q5552631': ['male'],
 'Q3765505': ['male'],
 'Q21062886': ['female'],
 'Q19957124': ['male'],
 'Q56942009': ['female'],
 'Q18880260': ['female'],
 'Q104841': ['male'],
 'Q6827147': ['female'],
 'Q6698470': ['female'],
 'Q46395189': ['male'],
 'Q27518253': ['female'],
 'Q25202924': ['male'],
 'Q5980534': ['male'],
 'Q4721504': ['male'],
 'Q5085913': ['female'],
 'Q3098645': ['male'],
 'Q16474': ['male'],
 'Q7817262': ['male'],
 'Q4679618': ['male'],
 'Q7490834': ['male'],
 'Q188632': ['male'],
 'Q1051036': ['female'],
 'Q22111197': ['male'],
 'Q7519974': ['male'],
 'Q19667597': ['female'],
 'Q104678': ['male'],
 'Q33125056': ['male'],
 'Q43723': ['male'],
 'Q1058562': ['male'],
 'Q750104': ['male'],
 'Q5162259': ['male'],
 'Q49001162': ['male'],
 'Q28954424': ['male'],
 'Q11836360': ['male'],
 'Q93806': ['female'],
 'Q23038508': ['male'],
 'Q350511': ['male'],
 'Q212772': ['female'],
 'Q28971419': ['female'],
 'Q28873097': ['female'],
 'Q20647567': ['male'],
 'Q3168023': ['male'],
 'Q10648': ['male'],
 'Q150916': ['male'],
 'Q16056053': ['male'],
 'Q350843': ['male'],
 'Q3309259': ['female'],
 'Q28693823': ['male'],
 'Q56807894': [None],
 'Q6136017': ['male'],
 'Q4964790': ['male'],
 'Q14951440': ['male'],
 'Q238464': ['male'],
 'Q13131904': ['male'],
 'Q84056': ['female'],
 'Q16864044': ['male'],
 'Q615': ['male'],
 'Q11309632': ['male'],

###Test and first exploration with the 2019 New York Times Data

We first looked at the sample with quotes from the 2019 NewYork Times data for an easier overall observation

In [ ]:
df_quotesNY = pd.read_json('quotes-2019-nytimes.json', lines=True)
df_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
2  2019-05-09-055187  ...     E
3  2019-10-31-056366  ...     E
4  2019-01-04-001792  ...     E

[5 rows x 9 columns]

In [ ]:
#Filter null speaker 
df_quotesNY = df_quotesNY.drop(df_quotesNY[df_quotesNY.speaker == 'None'].index)
df_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
3  2019-10-31-056366  ...     E
5  2019-08-15-002017  ...     E
8  2019-07-22-032883  ...     E

[5 rows x 9 columns]

We would like to determine the number of genders present in the the data.

In [ ]:
speaker_genders = speakers_df['gender']
speaker_genders.value_counts()

[Q6581097]              5418464
[Q6581072]              1684170
[Q1052281]                  887
[Q48270]                    307
[Q2449503]                  228
                         ...
[Q6581097, Q6581072]          1
[Q179294, Q6581097]           1
[Q179294, Q6581097]           1
[Q179294, Q6581097]           1
[Q6581097, Q6581072]          1
Name: gender, Length: 1411, dtype: int64

We print the different registered genders :

In [ ]:
print(labels.loc['Q6581097']['Label'],
      labels.loc['Q6581072']['Label'],
      labels.loc['Q1052281']['Label'],
      labels.loc['Q48270']['Label'],
      labels.loc['Q2449503']['Label'])

male female transgender female non-binary transgender male

We create a function to extract the gender and nationality labels for each speaker QID. To make it more efficient, we store in a dictionary a mapping from the attributes' qids to their labels, so we don't need to search for it in the label dataframe everytime.

In [ ]:
all_attributes = {}

In [ ]:
#Goal : struct dictionary{key = quote_id, value = ([genders],[nationalities])}

# Retrieve quotes speakers' gender, in the order of the quotations df
# Input : df_quotes with only first qid in new column qid (instead of qids)
def list_attribute_speaker(id_speaker, attr):
  list_attr = []
  id_attr_speaker = speakers_df.loc[speakers_df.id==id_speaker][attr] #List of all attribute ID per speaker
  for id_a in id_attr_speaker:
     if(id_a is not None):
       attr = all_attributes.get(id_a[0])
       if attr is None:
         attr= labels.loc[id_a]['Label'].values #Attribute value
         all_attributes[id_a[0]] = attr
       list_attr.append(attr[0]) 
  return list_attr

Next we create a function to pick the first qid in the list of aliases in order to map each quote with a single speaker qid. We decided to pick the first one of the list as the choice should not influence too much on the gender of the speaker.

In [ ]:
#We want to transform the 'qids' column in a single 'qid' element
def get_single_qid(df_quotes):

  df_copy =  df_quotes.copy()
  df_result =  df_quotes.copy()
  for idx,row in df_copy.iterrows():  
    id_speaker = row.loc['qids'][0] 
    df_result.at[idx,'qids'] = id_speaker

  df_result = df_result.rename(columns={"qids": "qid"})
  return df_result

In [ ]:
#we extract a single qid for our dataset
df_quotesNY_qid = get_single_qid(df_quotesNY)

Now we apply our function to get a dictionary mapping each speaker id to their gender and nationality.

In [ ]:
test_quotesNY = df_quotesNY_qid.head(10)
list_genders = test_quotesNY['qid'].apply(lambda i: list_attribute_speaker(i, 'gender'))
list_genders

0       [male]
1       [male]
3       [male]
5       [male]
8     [female]
10      [male]
12      [male]
13    [female]
14      [male]
15      [male]
Name: qid, dtype: object

In [ ]:
list_nat = test_quotesNY['qid'].apply(lambda i: list_attribute_speaker(i, 'nationality'))
list_nat

0               [United Kingdom]
1     [United States of America]
3     [United States of America]
5     [United States of America]
8                       [France]
10    [United States of America]
12    [United States of America]
13    [United States of America]
14              [United Kingdom]
15    [United States of America]
Name: qid, dtype: object

Next we add this information in two new columns.

In [ ]:
test_quotesNY.insert(3, 'gender', list_genders)
test_quotesNY.insert(4,'nationality', list_nat)
test_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
3  2019-10-31-056366  ...     E
5  2019-08-15-002017  ...     E
8  2019-07-22-032883  ...     E

[5 rows x 11 columns]

Let's put everything together to get this for all of our quotes :

In [ ]:
import json
from tqdm.notebook import tqdm_notebook
import time

def add_speaker_info(path_in):
  df = pd.read_json(path_in, lines=True,compression='bz2')
  #first we get a single qid:
  df = get_single_qid(df)
  tqdm_notebook.pandas()
  genders = df['qid'].progress_apply(lambda i: list_attribute_speaker(i, 'gender'))
  nationalities = df['qid'].progress_apply(lambda i: list_attribute_speaker(i, 'nationality'))
  df.insert(3, 'gender', genders)
  df.insert(4,'nationality', nationalities)
  return df

In [ ]:
df_2020 = add_speaker_info(QUOTES_2020_PATH)

  0%|          | 0/26070 [00:00<?, ?it/s]

In [ ]:
df_2019 = add_speaker_info(QUOTES_2019_PATH)

## 4 Data exploration and cleaning
<a id="data_explore_clean"></a>

### 4.1 Import prepared data
<a id="import_prep_data"></a>

### 4.2 Set the index
<a id="set_index"></a>

### 4.3 Save cleaned data frame as pickle
<a id="save_pickle"></a>

## 5 Research questions
<a id="research_questions"></a>

### 5.1 Load pickled dataframes
<a id="load_pickle"></a>