## Imports of libraries and additional datasets

In [1]:
# Import epfl google drive!
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
# Change to shared project drive
%cd /content/drive/Shareddrives/ADA-project

/content/drive/Shareddrives/ADA-project

In [37]:
import pandas as pd
import numpy as np
import bz2
import json

In [4]:
# Speaker attributes in df
df = pd.read_parquet('Project datasets/speaker_attributes.parquet')
df.head()

                                             aliases  ...                    religion
0  [Washington, President Washington, G. Washingt...  ...                   [Q682443]
1  [Douglas Noel Adams, Douglas Noël Adams, Dougl...  ...                        None
2      [Paul Marie Ghislain Otlet, Paul Marie Otlet]  ...                        None
3  [George Walker Bush, Bush Jr., Dubya, GWB, Bus...  ...  [Q329646, Q682443, Q33203]
4  [Velázquez, Diego Rodríguez de Silva y Velázqu...  ...                        None

[5 rows x 15 columns]

In [ ]:
!python Project\ datasets/query_wikidata_dump.py --input /content/drive/MyDrive/wikidata-20211004-all.json.gz  --output speakers.json

Traceback (most recent call last):
  File "Project datasets/query_wikidata_dump.py", line 190, in <module>
    main()
  File "Project datasets/query_wikidata_dump.py", line 22, in main
    with gzip.open(args.input, 'rb') as s_file:
  File "/usr/lib/python3.7/gzip.py", line 58, in open
    binary_file = GzipFile(filename, gz_mode, compresslevel)
  File "/usr/lib/python3.7/gzip.py", line 168, in __init__
    fileobj = self.myfileobj = builtins.open(filename, mode or 'rb')
FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/wikidata-20211004-all.json.gz'

##Cleaning

### Plan
*   Descriptive statistics
*   types
*   Missing data
*   distribution (histograms)
*   outliers
*   duplicates
*  inconsistent data (wrong format etc)
*   correlation between parameters
*  filter columns that we don't need
*  maybe create additional ones
*  standardize ?

In [ ]:
#Percentage of lines with null gender : 
df[df.gender.isnull()].size / df.size

0.21536937853557775

In [5]:
#Remove null gender : 
df_2 = df.drop(df[df.gender.isnull()].index)
df_2.head()

                                             aliases  ...                    religion
0  [Washington, President Washington, G. Washingt...  ...                   [Q682443]
1  [Douglas Noel Adams, Douglas Noël Adams, Dougl...  ...                        None
2      [Paul Marie Ghislain Otlet, Paul Marie Otlet]  ...                        None
3  [George Walker Bush, Bush Jr., Dubya, GWB, Bus...  ...  [Q329646, Q682443, Q33203]
4  [Velázquez, Diego Rodríguez de Silva y Velázqu...  ...                        None

[5 rows x 15 columns]

In [ ]:
#Duplicates
duplicates = df_2[df_2.duplicated(subset='id', keep='first')] 
duplicates.head()

Empty DataFrame
Columns: [aliases, date_of_birth, nationality, gender, lastrevid, ethnic_group, US_congress_bio_ID, occupation, party, academic_degree, id, label, candidacy, type, religion]
Index: []

In [6]:
#Remove unncessary columns
df_3 = df_2.drop(['US_congress_bio_ID', 'party', 'candidacy'], axis=1) 
# drop also aliases, date_of_birth, ethnic_group, label, religion ??

In [34]:
#Percentage of lines with null nationality : 
df_3[df_3.nationality.isnull()].size / df.size

0.2547805698797292

In [7]:
#Percentage of lines with null date of birth : 
df_3[df_3.date_of_birth.isnull()].size / df.size

0.20053990837657457

In [ ]:
#Percentage of lines with null ethnic_group : 
df_3[df_3.ethnic_group.isnull()].size / df.size

0.6163618055294064

In [8]:
#Remove ethnic group column as it has above 50% of null values : 
df_3 = df_3.drop('ethnic_group', axis=1)

In [ ]:
#Percentage of lines with null label : 
df_3[df_3.label.isnull()].size / df.size

0.03188346648106557

In [ ]:
#Percentage of lines with null religion : 
df_3[df_3.religion.isnull()].size / df.size

0.5596987302277541

In [9]:
#Remove religion column as it has above 50% of null values : 
df_3 = df_3.drop('religion', axis=1)

In [88]:
df_3[df_3.aliases.isnull()].size / df.size

0.443215888667022

## Retrieve quotebank wikidata labels

In [10]:
labels = pd.read_csv('Project datasets/wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col='QID')
labels.head()

                           Label                                   Description
QID
Q31                      Belgium                     country in western Europe
Q45                     Portugal                country in southwestern Europe
Q75                     Internet  global system of connected computer networks
Q148  People's Republic of China                  sovereign state in East Asia
Q155                      Brazil                      country in South America

In [11]:
labels = labels.drop(labels[labels.Label.isnull()].index)
labels.head()

                           Label                                   Description
QID
Q31                      Belgium                     country in western Europe
Q45                     Portugal                country in southwestern Europe
Q75                     Internet  global system of connected computer networks
Q148  People's Republic of China                  sovereign state in East Asia
Q155                      Brazil                      country in South America

In [62]:
labels.loc['Q6581097']['Label']

'male'

In [70]:
#Replacing gender QUIDs by value
#for index, row in df_3.iterrows():
#  quid = row.loc['gender'][0]
#  row.loc['gender'] = labels.loc[quid]['Label']
#--> Not useful, replace only the ones needed

###Test with the 2019 New York Times Data

In [72]:
df_quotesNY = pd.read_json('quotes-2019-nytimes.json', lines=True)
df_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
2  2019-05-09-055187  ...     E
3  2019-10-31-056366  ...     E
4  2019-01-04-001792  ...     E

[5 rows x 9 columns]

In [80]:
#Filter null speaker 
df_quotesNY = df_quotesNY.drop(df_quotesNY[df_quotesNY.speaker == 'None'].index)
df_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
3  2019-10-31-056366  ...     E
5  2019-08-15-002017  ...     E
8  2019-07-22-032883  ...     E

[5 rows x 9 columns]

In [103]:
# Retrieve New York times speakers' gender
speakerGender = []
for NY_index, NY_row in df_quotesNY.iterrows():
  q_speaker = NY_row.loc['qids'] 
  #qids are not of the same people for each quotation
  #40% of speakers do not have aliases, how to link both?
  if df_3.id.isin(q_speaker).any(): 
    genders = []
    for q in q_speaker:
      if q in df_3.keys():
        q_gender = df_3.loc[q]['gender'][0]
        genders.append(labels.loc[q_gender]['Label'])
    speakerGender.append(genders)

KeyboardInterrupt: ignored

In [ ]:
# Add gender column
df_quotesNY.insert(3, 'gender', speakerGender)

### Old examples

In [ ]:
path_to_file = '/content/drive/MyDrive/speakers.json' 

with bz2.open(path_to_file, 'rb') as s_file:
  for instance in s_file:
    instance = json.loads(instance) # loading a sample
    print(instance)

In [ ]:
# Loading of the quotebank dataset

path_to_file = '/content/drive/MyDrive/Quotebank/quotes-2020.json.bz2' 

with bz2.open(path_to_file, 'rb') as s_file:
  for instance in s_file:
    instance = json.loads(instance) # loading a sample
    print(instance)