<a href="https://colab.research.google.com/github/morwald/ada_project/blob/main/speakers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Imports of libraries and additional datasets

In [1]:
# Import epfl google drive!
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
# Change to shared project drive
%cd /content/drive/Shareddrives/ADA-project

/content/drive/Shareddrives/ADA-project

In [34]:
import pandas as pd
import numpy as np
import bz2
import json

from collections import Counter

In [4]:
# Speaker attributes in df
df = pd.read_parquet('Project datasets/speaker_attributes.parquet')
df.head()

                                             aliases  ...                    religion
0  [Washington, President Washington, G. Washingt...  ...                   [Q682443]
1  [Douglas Noel Adams, Douglas Noël Adams, Dougl...  ...                        None
2      [Paul Marie Ghislain Otlet, Paul Marie Otlet]  ...                        None
3  [George Walker Bush, Bush Jr., Dubya, GWB, Bus...  ...  [Q329646, Q682443, Q33203]
4  [Velázquez, Diego Rodríguez de Silva y Velázqu...  ...                        None

[5 rows x 15 columns]

In [ ]:
!python Project\ datasets/query_wikidata_dump.py --input /content/drive/MyDrive/wikidata-20211004-all.json.gz  --output speakers.json

Traceback (most recent call last):
  File "Project datasets/query_wikidata_dump.py", line 190, in <module>
    main()
  File "Project datasets/query_wikidata_dump.py", line 22, in main
    with gzip.open(args.input, 'rb') as s_file:
  File "/usr/lib/python3.7/gzip.py", line 58, in open
    binary_file = GzipFile(filename, gz_mode, compresslevel)
  File "/usr/lib/python3.7/gzip.py", line 168, in __init__
    fileobj = self.myfileobj = builtins.open(filename, mode or 'rb')
FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/MyDrive/wikidata-20211004-all.json.gz'

##Cleaning

### Plan
*   Descriptive statistics
*   types
*   Missing data
*   distribution (histograms)
*   outliers
*   duplicates
*  inconsistent data (wrong format etc)
*   correlation between parameters
*  filter columns that we don't need
*  maybe create additional ones
*  standardize ?

In [ ]:
#Percentage of lines with null gender : 
df[df.gender.isnull()].size / df.size

0.21536937853557775

In [5]:
#Remove null gender : 
df_2 = df.drop(df[df.gender.isnull()].index)
df_2.head()

                                             aliases  ...                    religion
0  [Washington, President Washington, G. Washingt...  ...                   [Q682443]
1  [Douglas Noel Adams, Douglas Noël Adams, Dougl...  ...                        None
2      [Paul Marie Ghislain Otlet, Paul Marie Otlet]  ...                        None
3  [George Walker Bush, Bush Jr., Dubya, GWB, Bus...  ...  [Q329646, Q682443, Q33203]
4  [Velázquez, Diego Rodríguez de Silva y Velázqu...  ...                        None

[5 rows x 15 columns]

In [ ]:
#Duplicates
duplicates = df_2[df_2.duplicated(subset='id', keep='first')] 
duplicates.head()

Empty DataFrame
Columns: [aliases, date_of_birth, nationality, gender, lastrevid, ethnic_group, US_congress_bio_ID, occupation, party, academic_degree, id, label, candidacy, type, religion]
Index: []

In [6]:
#Remove unncessary columns
df_3 = df_2.drop(['US_congress_bio_ID', 'party', 'candidacy'], axis=1) 
# drop also aliases, date_of_birth, ethnic_group, label, religion ??

In [ ]:
#Percentage of lines with null nationality : 
df_3[df_3.nationality.isnull()].size / df.size

0.2547805698797292

In [ ]:
#Percentage of lines with null date of birth : 
df_3[df_3.date_of_birth.isnull()].size / df.size

0.20053990837657457

In [ ]:
#Percentage of lines with null ethnic_group : 
df_3[df_3.ethnic_group.isnull()].size / df.size

0.6163618055294064

In [7]:
#Remove ethnic group column as it has above 50% of null values : 
df_3 = df_3.drop('ethnic_group', axis=1)

In [ ]:
#Percentage of lines with null label : 
df_3[df_3.label.isnull()].size / df.size

0.03188346648106557

In [ ]:
#Percentage of lines with null religion : 
df_3[df_3.religion.isnull()].size / df.size

0.5596987302277541

In [8]:
#Remove religion column as it has above 50% of null values : 
df_3 = df_3.drop('religion', axis=1)

In [ ]:
df_3[df_3.aliases.isnull()].size / df.size

0.443215888667022

## Retrieve quotebank wikidata labels

In [13]:
labels = pd.read_csv('Project datasets/wikidata_labels_descriptions_quotebank.csv.bz2', compression='bz2', index_col='QID')
labels.head()

                           Label                                   Description
QID
Q31                      Belgium                     country in western Europe
Q45                     Portugal                country in southwestern Europe
Q75                     Internet  global system of connected computer networks
Q148  People's Republic of China                  sovereign state in East Asia
Q155                      Brazil                      country in South America

In [21]:
labels.Label.isnull().count()/labels.size

0.5

In [12]:
#labels = labels.drop(labels[labels.Label.isnull()].index)
labels.head()

                           Label                                   Description
QID
Q31                      Belgium                     country in western Europe
Q45                     Portugal                country in southwestern Europe
Q75                     Internet  global system of connected computer networks
Q148  People's Republic of China                  sovereign state in East Asia
Q155                      Brazil                      country in South America

In [ ]:
labels.loc['Q6581097']['Label']

'male'

In [ ]:
#Replacing gender QUIDs by value
#for index, row in df_3.iterrows():
#  quid = row.loc['gender'][0]
#  row.loc['gender'] = labels.loc[quid]['Label']
#--> Not useful, replace only the ones needed

###Test with the 2019 New York Times Data

In [16]:
df_quotesNY = pd.read_json('quotes-2019-nytimes.json', lines=True)
df_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
2  2019-05-09-055187  ...     E
3  2019-10-31-056366  ...     E
4  2019-01-04-001792  ...     E

[5 rows x 9 columns]

In [22]:
#Filter null speaker 
df_quotesNY = df_quotesNY.drop(df_quotesNY[df_quotesNY.speaker == 'None'].index)
df_quotesNY.head()

             quoteID  ... phase
0  2019-04-17-024782  ...     E
1  2019-04-02-001128  ...     E
3  2019-10-31-056366  ...     E
5  2019-08-15-002017  ...     E
8  2019-07-22-032883  ...     E

[5 rows x 9 columns]

In [70]:
speaker_genders = df_3['gender']
speaker_genders.value_counts()

TypeError: ignored

Exception ignored in: 'pandas._libs.index.IndexEngine._call_map_locations'
Traceback (most recent call last):
  File "pandas/_libs/hashtable_class_helper.pxi", line 1709, in pandas._libs.hashtable.PyObjectHashTable.map_locations
TypeError: unhashable type: 'numpy.ndarray'

[Q6581097]              5418464
[Q6581072]              1684170
[Q1052281]                  887
[Q48270]                    307
[Q2449503]                  228
                         ...
[Q6581097, Q6581072]          1
[Q179294, Q6581097]           1
[Q179294, Q6581097]           1
[Q179294, Q6581097]           1
[Q6581097, Q6581072]          1
Name: gender, Length: 1411, dtype: int64

In [73]:
print(labels.loc['Q1052281']['Label'],
labels.loc['Q48270']['Label'],
labels.loc['Q2449503']['Label'])

transgender female non-binary transgender male

In [114]:
#Goal : struct dictionary{key = quote_id, value = dict{key=speaker_id, value = [genders per speaker]}}

# Retrieve New York times speakers' gender, in the order of the quotations df
dict_quote_id_genders = {}

for NY_index, NY_row in df_quotesNY.iterrows(): #Loop over all quotes
  quote_id = NY_row.quoteID #Future key in dict_quote_id_genders
  id_aliases = NY_row.loc['qids'] 
  dict_genders_speaker = {} #Dict of genders per alias speaker
  for id_speaker in id_aliases:
    list_genders_speaker = [] #List of genders per alias speaker
    id_genders_speaker = df_3.loc[df_3.id==id_speaker]['gender'].to_numpy() #List of all genders ID per speaker
    for id_g in id_genders_speaker:
      gender= labels.loc[id_g]['Label'].values #Gender value
      list_genders_speaker.append(gender)
    dict_genders_speaker[id_speaker] = list_genders_speaker
    print(dict_genders_speaker)
  dict_quote_id_genders[quote_id] = dict_genders_speaker

{'Q16213953': [array(['male'], dtype=object)]}
{'Q16213953': [array(['male'], dtype=object)], 'Q20707104': [array(['male'], dtype=object)]}
{'Q16213953': [array(['male'], dtype=object)], 'Q20707104': [array(['male'], dtype=object)], 'Q43143598': [array(['male'], dtype=object)]}
{'Q16213953': [array(['male'], dtype=object)], 'Q20707104': [array(['male'], dtype=object)], 'Q43143598': [array(['male'], dtype=object)], 'Q58886302': [array(['male'], dtype=object)]}
{'Q16213953': [array(['male'], dtype=object)], 'Q20707104': [array(['male'], dtype=object)], 'Q43143598': [array(['male'], dtype=object)], 'Q58886302': [array(['male'], dtype=object)], 'Q6133913': [array(['male'], dtype=object)]}
{'Q105756': [array(['male'], dtype=object)]}
{'Q1855840': [array(['male'], dtype=object)]}
{'Q7817334': [array(['male'], dtype=object)]}
{'Q3074013': [array(['female'], dtype=object)]}
{'Q7812406': [array(['male'], dtype=object)]}
{'Q977546': [array(['male'], dtype=object)]}
{'Q50049': [array(['female'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)], 'Q34975': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)], 'Q34975': [array(['male'], dtype=object)], 'Q463581': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)], 'Q34975': [array(['male'], dtype=object)], 'Q463581': [array(['male'], dtype=object)], 'Q48847660': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)], 'Q34975': [array(['male'], dtype=object)], 'Q463581': [array(['male'], dtype=object)], 'Q48847660': [array(['male'], dtype=object)], 'Q4963453': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)], 'Q34975': [array(['male'], dtype=object)], 'Q463581': [array(['male'], dtype=object)], 'Q48847660': [array(['male'], dtype=object)], 'Q4963453': [array(['male'], dtype=object)], 'Q4963454': [array(['male'], dtype=object)]}
{'Q19594790': [array(['male'], dtype=object)], 'Q20669096': [array(['male'], dtype=object)], 'Q34975': [array(['male'], dtype=object)], 'Q463581': [array(['male'], dtype=object)], 'Q48847660': [array(['male'], dtype=object)], 'Q4963453': [array(['male'], dtype=object)], 'Q4963454': [array(['male'], dtype=object)], 'Q57571927': [array(['male'], dtype=object)]}
{'Q22686': [array(['male'], dtype=object)]}
{'Q7154794': [array(['female'], dtype=object)]}
{'Q57552119': [array(['male'], dtype=object)]}
{'Q16193580': [array(['male'], dtype=object)]}
{'Q16193580': [array(['male'], dtype=object)], 'Q17020404': [array(['male'], dtype=object)]}
{'Q2106099': [array(['male'], dtype=object)]}
{'Q57689': [array(['male'], dtype=object)]}
{'Q5585845': [array(['male'], dtype=object)]}

KeyboardInterrupt: ignored

In [ ]:
# Add gender column
df_quotesNY.insert(3, 'gender', speakerGender)

### Old examples

In [ ]:
path_to_file = '/content/drive/MyDrive/speakers.json' 

with bz2.open(path_to_file, 'rb') as s_file:
  for instance in s_file:
    instance = json.loads(instance) # loading a sample
    print(instance)

In [ ]:
# Loading of the quotebank dataset

path_to_file = '/content/drive/MyDrive/Quotebank/quotes-2020.json.bz2' 

with bz2.open(path_to_file, 'rb') as s_file:
  for instance in s_file:
    instance = json.loads(instance) # loading a sample
    print(instance)